body {
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: 100% 100%;

}

img {
     width: 100px;
 }

h1 {
    text-align: center;
    color: white;
}
#foot {
    border-top: 1px solid white;
}
.copyright {
    font-size: 0.75em;
    color: white;
    text-align: center;
}
.footer {
    background: transparent;
    border: none;
}